<ion-view view-title="Crew Suche">
  <ion-content class="activity_backcolor">
    <div class=" padding">

      <div class="row responsive-sm">
        <div class="col"></div>

        <div class="col">

          <label class="item item-input my_form">
            <i class="icon ion-search placeholder-icon"></i>
            <input class="" type="text" placeholder="???">
          </label>
        </div>

        <div class="col">
          <h4 class="color_light_gray">Fach</h4>
          <select class="my_form">
            <option selected>Grundlagen Etech</option>
            <option>bla</option>
            <option>blabla</option>
          </select>
        </div>



        <div class="col">
          <a href="#/tabs/"><button class="button button-outline button-block button-positive">Ok</button></a>
          <!--Marc -> Phillip,Tobi: Braucht ihr einen Button oder reichen Links zur bestätigung bzw um euren code auszuführen?-->
        </div>
        <div class="col"></div>
      </div>


    </div>
  </ion-content>
</ion-view>

