<ion-view view-title="Crew Erstellen">
  <ion-content>
    <div class="text-center padding">
      <h4>Erstelle hier deine eigene Crew</h4>
      <div class="padding-bottom">
        <label class="item item-input input_own_app">
          <input class="color_white" type="text" placeholder="Nutzername/Email">
        </label>
      </div>
      <label class="item item-input input-block input_own_app">
        <input type="password" placeholder="Passwort">
      </label>
    </div>
  </ion-content>
</ion-view>

