<ion-view view-title="Crew Erstellen">
  <ion-content class="activity_backcolor">
    <div class=" padding">





      <div class="row responsive-sm">
        <div class="col"></div>

        <div class="col">
          <h4 class="color_white">Fach</h4>
          <select class="my_form">
            <option selected>Grundlagen Etech</option>
            <option>bla</option>
            <option>blabla</option>
          </select>
        </div>

        <div class="col">
          <h4 class="color_white">Max. Crewgröße</h4>
          <select class="my_form">
            <option selected>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>

        <div class="col">
          <h4 class="color_white">Sichtbarkeit</h4>
          <select class="my_form">
            <option selected>Öffentlich</option>
            <option>Privat</option>
          </select>
        </div>

        <div class="col">
          <h4 class="color_white">Titel</h4>
          <label class="item item-input my_form">
            <input class="" type="text" placeholder="???">
          </label>
        </div>

        <div class="col dropdown_selecter">
          <h4 class="color_white">Beschreibung</h4>
          <textarea class="my_form" rows="4" cols="50">

          </textarea>
        </div>





        <div class="col">
          <button class="app_button button-block">Erstellen</button>
        </div>
        <div class="col"></div>
      </div>








    </div>
  </ion-content>
</ion-view>


