<ion-view view-title="Crew Erstellen">
  <ion-content class="activity_backcolor">
    <div class=" padding">





      <div class="row responsive-sm">
        <div class="col">

        </div>

        <div class="col">
          <h4 class="color_white">Studiengang</h4>
          <select class="my_form">
            <option selected>Informatik</option>
            <option>Wirtschaft</option>
            <option>Architektur</option>
          </select>
        </div>

        <div class="col">
          <a href="#/tabs/crew_erstellen_2"><button class="app_button button-block">Weiter</button></a>
           <!--Marc -> Phillip,Tobi: Braucht ihr einen Button oder reichen Links zur bestätigung bzw um euren code auszuführen?-->
        </div>
        <div class="col"></div>
      </div>








    </div>
  </ion-content>
</ion-view>

