<ion-view view-title="Login">

  <ion-content class="padding text-center" style="background-color: #0f0f0f;">
    <h2 class="color_white">Noch immer allein unterwegs?</h2>

    <div class="filter_cover" style="background-color: #0f0f0f;">
      <img class="logo_formate" src="/img/buch.png">
    </div>
    <h2 class="color_c2l">Kostenlos Anmelden und Durchstarten!</h2>

    <a href="#/tabs"><button class="button button-outline button-block button-positive">Registrieren</button></a>
    <br>
    <br>
    <div class="padding-bottom text-left">
      <b class="color_light_gray">Schon dabei? Login</b>
      <div class="padding-bottom">
      <label class="item item-input input_own_login">
        <input class="color_white" type="text" placeholder="Nutzername/Email">
      </label>
      </div>
      <label class="item item-input input-block input_own_login">
        <input type="password" placeholder="Passwort">
      </label>
    </div>

    <a href="#/tabs"><button class="button button-outline button-block button-positive">Anmelden</button></a>
  </ion-content>
</ion-view>
