<ion-view view-title="Meine Crews">
  <ion-content class="background_color">

    <div class="card card_color">
      <div class="card">
        <div class="row">
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                Titel
              </div>
              <div class="item">
                Fach
              </div>
              <div class="item">
                Lernort
              </div>
              <div class="item">
                Datum
              </div>
              <div class="item">
                Uhrzeit
              </div>

            </div>

          </div>

          <div class="col">
            <div class="list list-inset">
              <div class="item">
                -
              </div>
              <div class="item">
                Architekturtheorie
              </div>
              <div class="item">
                -
              </div>
              <div class="item">
                -
              </div>
              <div class="item">
                -
              </div>

            </div>

          </div>
        </div>





      </div>



  </ion-content>
</ion-view>


