<ion-view view-title="Meine Crews">
  <ion-content class="background_color">

    <div class="card card_color">
      <div class="card">
        <div class="row">
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                <h2>Titel:</h2>

                <font_color class="crew_text_color">Architekturtheorie</font_color>
              </div>
              <div class="item">
                <h2>Fach:</h2>
                <font_color class="crew_text_color">-</font_color>
              </div>
              <div class="item">
                <h2>Lernort:</h2>
                <font_color class="crew_text_color">Big Lounge</font_color>
              </div>
              <div class="item">
                <h2>Datum:</h2>
                <font_color class="crew_text_color">22.10.2017</font_color>
              </div>
              <div class="item">
                <h2>Uhrzeit:</h2>
                <font_color class="crew_text_color"> 18:00 Uhr </font_color>
              </div>

            </div>

          </div>


          <!--      Test für andere Ansicht  (responsive ??)
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                -
              </div>
              <div class="item">
                Architekturtheorie
              </div>
              <div class="item">
                -
              </div>
              <div class="item">
                -
              </div>
              <div class="item">
                -
              </div>

            </div>

          </div>
        </div>
        -->



      </div>
        </div>



  </ion-content>
</ion-view>


