<ion-view view-title="Profil">
  <ion-content class="background_color">


    <div class="card card_color"> <!-- Äußeres Gerüst-->

    <div class="card"> <!-- Obere Card-->
      <div class="item item-text-wrap">
        <div class="list">

          <a class="item item-avatar">
            <img class="profilbild" src="/img/ben.png">

            <div class="row">
              <div class="col col-75 "><H2>Username</H2></div>
            </div>
          </a>

        </div>
      </div>
    </div>

    <div class="card">  <!-- Eingabefelder des Profils & Untere Card-->

        <label class="item item-input item-floating-label">
            <span class="input-label">Vorname:</span>
            <input type="text" placeholder="Vorname">
          </label>

        <label class="item item-input item-floating-label">
            <span class="input-label">Nachname:</span>
            <input type="text" placeholder="Nachname">
          </label>

        <label class="item item-input item-floating-label">
            <span class="input-label">Email:</span>
            <input type="text" placeholder="Email">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Universität:</span>
          <input type="text" placeholder="Universität">
         </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Studiengang:</span>
          <input type="text" placeholder="Studiengang">
        </label>



      </div>

      <!--Toggle Button -->
      <div class="card">
      <div class="row">
        <div class="col"><div id="togglebutton">
          <label class="toggle toggle-light">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div></div>
        <div class="col col-75"><h3>Profil bearbeiten</h3></div>
      </div>
      </div>

    </div>


  </ion-content>
</ion-view>

