<ion-view view-title="Profil">
  <ion-content style="background-color: #444444;">
   

<div class="list">
	<div>
		<a class="item item-thumbnail-left" href="">
      	<img src="cover.jpg">
      	</a>
	</div>
	<br>
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>

  <label class="item item-input">
    <textarea placeholder="Comments"></textarea>
  </label>

</div>


  </ion-content>
</ion-view>