<ion-view view-title="Räume">
  <ion-content class="background_color">

    <div class="card card_color">

      <div class="card card_räume">
        <div class="row">
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                Raum:
              </div>
              <div class="item">
                Art:
              </div>
              <div class="item">
                Größe:
              </div>
              <div class="item">
                Tafel
              </div>
              <div class="item">
                Beamer:
              </div>
              <div class="item">
                P-Projektor:
              </div>
            </div>
          </div>
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                C7-09
              </div>
              <div class="item">
                Seminarraum
              </div>
              <div class="item">
                32
              </div>
              <div class="item">
                2
              </div>
              <div class="item">
                2
              </div>
              <div class="item">
                1
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="row">
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                Raum:
              </div>
              <div class="item">
                Art:
              </div>
              <div class="item">
                Größe:
              </div>
              <div class="item">
                Tafel
              </div>
              <div class="item">
                Beamer:
              </div>
              <div class="item">
                P-Projektor:
              </div>
            </div>
          </div>
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                C7-09
              </div>
              <div class="item">
                Seminarraum
              </div>
              <div class="item">
                32
              </div>
              <div class="item">
                2
              </div>
              <div class="item">
                2
              </div>
              <div class="item">
                1
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="row">
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                Raum:
              </div>
              <div class="item">
                Art:
              </div>
              <div class="item">
                Größe:
              </div>
              <div class="item">
                Tafel
              </div>
              <div class="item">
                Beamer:
              </div>
              <div class="item">
                P-Projektor:
              </div>
            </div>
          </div>
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                C7-09
              </div>
              <div class="item">
                Seminarraum
              </div>
              <div class="item">
                32
              </div>
              <div class="item">
                2
              </div>
              <div class="item">
                2
              </div>
              <div class="item">
                1
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="card">
        <div class="row">
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                Raum:
              </div>
              <div class="item">
                Art:
              </div>
              <div class="item">
                Größe:
              </div>
              <div class="item">
                Tafel
              </div>
              <div class="item">
                Beamer:
              </div>
              <div class="item">
                P-Projektor:
              </div>
            </div>
          </div>
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                C7-09
              </div>
              <div class="item">
                Seminarraum
              </div>
              <div class="item">
                32
              </div>
              <div class="item">
                2
              </div>
              <div class="item">
                2
              </div>
              <div class="item">
                1
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



  </ion-content>
</ion-view>
