<ion-view view-title="Räume">
  <ion-content class="background_color">

    <div class="card card_color">

      <div class="card card_räume">
        <div class="row">
          <div class="col">
            <div class="list list-inset">
              <div class="item">
                Raum:
                <br>
                <font_color class="crew_text_color">C5-14</font_color>
              </div>
              <div class="item">
                Art:
                <br>
                <font_color class="crew_text_color">Seminarraum</font_color>
              </div>
              <div class="item">
                Größe:
                <br>
                <font_color class="crew_text_color">32</font_color>
              </div>
              <div class="item">
                Tafel:
                <br>
                <font_color class="crew_text_color">2</font_color>
              </div>
              <div class="item">
                Beamer:
                <br>
                <font_color class="crew_text_color">2</font_color>
              </div>
              <div class="item">
                P-Projektor:
                <br>
                <font_color class="crew_text_color">1</font_color>
              </div>
            </div>
          </div>

    </div>



  </ion-content>
</ion-view>
