
<ion-view view-title="Raumsuche">
  <ion-content class="background_color">
    <div class="padding">
      <div class="row responsive-sm">


        <div class="col">
          <h4 class="color_white">Fachbereich:</h4>
          <select class="my_form">
            <option selected>Informatik</option>
            <option>Maschinenbau</option>
            <option>Architektur</option>
            <option>Geoinformatik</option>
            <option>Elektrotechnik</option>
            <option>Bauingeniuerwesen</option>
          </select>
        </div>

        <div class="col">
          <a href="#/tabs/raum"><button class="button button-outline button-block button-positive">Weiter</button></a>

        </div>
      </div>


  </ion-content>

</ion-view>
